/* The class names follow BEM: https://en.bem.info/methodology/quick-start */

body {
  min-width: 360px;
  background: #242424;
  color: #D3D3D3;
  font-family: 'Space Grotesk', sans-serif, -apple-system;
  font-size: 14px;
  line-height: 1.429;
  padding: 0;
  margin: 0;
}
body._no-min-width {
  min-width: 0;
}
a {
  color: #FF9040;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3 {
  line-height: 0.914;
  font-weight: 600;
  color: #fff;
}
h1 {
  font-size: 48px;
  margin: 32px 0 16px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
  line-height: 1.193;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 540px) {
  h1 {
    font-size: 8.8888vw;
  }
}

.main-layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  padding: 40px 20px;
  text-align: center;
}
.main-layout__body,
.main-layout__footer,
.js-disable__steps {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
}
.main-layout__body > :first-child {
  margin-top: 0;
}
.main-layout__body > :last-child {
  margin-bottom: 0;
}
.main-layout__wide-sub-body {
  margin-top: 40px;
}
.main-layout__footer,
.js-disable__steps {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(140px, 100%), 1fr)); /* See https://codepen.io/TheFinesse/pen/Ozyaze?editors=1100 */
}
.main-layout__footer {
  padding-top: 120px;
  margin-top: auto;
  grid-gap: 16px 24px;
  text-align: left;
}
.main-layout__footer a,
.main-layout__footer a:hover {
  color: #fff;
}

.hero-title__logo {
  height: 42px;
}

.fp-block,
.fp-frame {
  height: 154px;
}
.fp-frame {
  border: none;
  width: 100%;
  margin: 64px 0;
}

.js-disable__steps {
  padding: 0;
  grid-gap: 24px;
  text-align: left;
  list-style: none;
  counter-reset: js-disable-steps;
}
.js-disable__steps.js-disable__steps_count-4 {
  max-width: 672px;
}
.js-disable__steps.js-disable__steps_count-5 {
  max-width: 846px;
}
.js-disable__steps.js-disable__steps_count-6 {
  max-width: 1020px;
}
.js-disable__steps > li {
  counter-increment: js-disable-steps;
}
.js-disable__steps > li::before {
  content: counter(js-disable-steps);
  display: block;
  margin: 0 0 8px;
  line-height: 0.914;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.js-disable__header {
  margin-top: 24px;
}

.fp-block {
  box-sizing: border-box;
  height: 154px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
}
.fp-block__loading {
  margin: 16px 0 0;
}
.fp-block__button {
  display: block;
  margin: 24px 0 0;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.167;
  color: #fff;
  text-decoration: none;
  border: 1px solid #FF9040;
  border-radius: 12px;
}
.fp-block__button:hover {
  background: #FF9040;
  text-decoration: none;
}
.fp-block__fingerprint {
  margin: 16px 0 24px;
  font-size: 23px;
  line-height: 1.193;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 540px) {
  .fp-block__fingerprint {
    font-size: 4.26vw;
  }
}

.frame-layout {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-height: 100vh;
}
.frame-layout .fp-block__fingerprint {
  font-size: 4.6vw;
}

.signals__header {
  margin: 60px 0 32px;
}
.signals__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.signals__list > li:not(:first-child) {
  margin-top: 40px;
}
.signals__excluded .signals__title > :not(.signals__exclude-label),
.signals__excluded .signals__detail {
  opacity: 0.3;
}
.signals__title {
  margin: 0 0 16px;
}
.signals__detail {
  margin-top: 8px;
  display: flex;
}
.signals__detail-label {
  flex: none;
  margin-right: 8px;
}
.signals__detail-value {
  flex: 1;
  min-width: 0;
  word-break: break-word;
}
.signals__detail-value:not(.signals__detail-value_empty) {
  color: #fff;
}
.signals__exclude-label {
  display: inline-block;
  vertical-align: middle;
  margin: -5px 0;
  padding: 4px 8px 5px;
  font-size: 11px;
  line-height: 1.455;
  font-weight: normal;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
}

.outdated-warning {
  margin-bottom: 32px;
}
.outdated-warning p {
  margin: 9px 0 0;
}
.outdated-warning__icon {
  height: 17px;
}
